#######################################
# system
#######################################
*.DS_Store
*.DS_Store?
*._*
*.Spotlight-V100
*.Trashes
Icon?
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

#######################################
# project
#######################################
lib/

#######################################
# node
#######################################
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
